.goog-slider-horizontal .goog-slider-thumb {
    top: 0;
    width: 20px;
    height: 100%;
}
.goog-slider-vertical,
.goog-slider-horizontal {
    background-color: ThreeDFace;
    position: relative;
    overflow: hidden;
}
.goog-slider-thumb {
    position: absolute;
    background-color: ThreeDShadow;
    overflow: hidden;
}
